@import "./../../variables.scss";

.cart {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._content {
  max-width: 1285px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 521px;
  column-gap: 24px;
}

._title {
  grid-column: 1/-1;
  margin-bottom: 35px;
  width: 100%;
  @extend %h2;
}

._items {
  width: 100%;
}

._itemsTitle {
  @extend %h4;
  margin: 54px 0 37px 0;
  &:first-child {
    margin-top: 0;
  }
}

._item {
  width: 100%;
  height: 293px;
  border: 0.5px solid #bdbdbd;
  box-shadow: 0px 4px 8px rgba(84, 84, 84, 0.1);
  display: grid;
  grid-template-columns: 194px 1fr;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

._itemImgWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._itemImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

._itemInfo {
  position: relative;
  padding: 70px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._deleteItemFromCart {
  position: absolute;
  top: 13px;
  right: 13px;
  background: none;
}

._itemTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

._itemOption {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #4f4f4f;
}

._itemFooter {
  justify-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

._itemPrice {
  margin-right: 64px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

._itemCountWrapper {
  width: 133px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  padding: 8px 13px;
}

._itemCountIcon {
  cursor: pointer;
}

._itemCount {
  user-select: none;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

._order {
  width: 100%;
  // height: 100%;
}

._clearCart {
  background: none;
}

._clearCartText {
  @extend %h6;
  padding-right: 44px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(./src/clearCart.svg);
  }
}

._orderTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 95%;

  color: #000000;
}

._orderTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

._orderContent {
  border: 0.5px solid #bdbdbd;
  box-shadow: 0px 4px 8px rgba(84, 84, 84, 0.1);
  // min-height: 500px;
  padding: 30px 75px 45px 50px;
}

._orderItems {
}

._orderItem {
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

._orderItemTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

._orderItemDescription {
  margin-top: 10px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #4f4f4f;
}

._orderPriceWrapper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

._orderPriceTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

._orderPrice {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

._orderCheckoutButtonWrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

._orderCheckoutButton {
  padding: 14px 40px;
  cursor: pointer;
  background: $green;
  color: #ffffff;
  user-select: none;
}
