@import "./../../variables.scss";

._title {
  @extend %h4;
}

._priceTitle {
  @extend %h6;
}

._countSettings {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
}

._minusIconWrapper {
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._minusIcon {
  width: 26px;
  height: 3px;
  mask-image: url(./src/minus.svg);
}

._countSetting {
  width: 64px;
  display: flex;
  justify-content: center;

  background: unset;
  text-align: center;
  align-self: center;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;

  color: $green;
}

._plusIconWrapper {
  grid-row: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

._plusIcon {
  mask-image: url(./src/plus.svg);
  width: 26px;
  height: 26px;
}

@media screen and (min-width: 1300px) {
  .serviceItem {
    height: 263px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px $green;
    display: grid;
    grid-template-columns: 1fr 215px;
  }

  ._image {
  }

  ._info {
    background: $green;
    border-radius: 0 19px 19px 0;
    padding: 19px 30px 0 21px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  ._title {
    color: #ffffff;
  }

  ._description {
    padding-top: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }

  ._priceWrapper {
    display: flex;
    justify-content: space-between;
  }

  ._priceTitle {
    padding-top: 10px;
    color: #ffffff;
  }

  ._price {
    justify-self: flex-end;
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
  }

  ._plus {
    width: 26px;
    height: 26px;
    background: url(./src/plus.svg) 100% 100% no-repeat;
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .serviceItem {
    height: 263px;
    width: 400px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px $green;
    display: grid;
    grid-template-columns: 1fr 215px;
  }

  ._image {
  }

  ._info {
    background: $green;
    border-radius: 0 19px 19px 0;
    padding: 19px 30px 0 21px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  ._title {
    color: #ffffff;
  }

  ._description {
    padding-top: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
  }

  ._priceWrapper {
    display: flex;
    justify-content: space-between;
  }

  ._priceTitle {
    padding-top: 10px;
    color: #ffffff;
  }

  ._price {
    justify-self: flex-end;
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
  }

  ._plus {
    width: 26px;
    height: 26px;
    background: url(./src/plus.svg) 100% 100% no-repeat;
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .serviceItem {
    height: 200px;
    width: 311px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 5px $green;
    display: grid;
    grid-template-columns: 1fr 162px;
  }

  ._image {
  }

  ._info {
    background: $green;
    border-radius: 0 19px 19px 0;
    padding: 14px 17px 0 16px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  ._title {
    font-size: 16.6464px;
    line-height: 95%;
    color: #ffffff;
  }

  ._description {
    padding-top: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13.6198px;
    line-height: 16px;

    color: #ffffff;
  }

  ._priceWrapper {
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
  }

  ._priceTitle {
    padding-top: 10px;
    color: #ffffff;
    font-size: 13.6198px;
    line-height: 16px;
  }

  ._price {
    justify-self: flex-end;
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18.1597px;
    line-height: 22px;

    color: #ffffff;
  }

  ._plus {
    width: 20px;
    height: 20px;
    background: url(./src/plus.svg) 100% 100% / contain no-repeat;
    position: absolute;
    bottom: 17px;
    right: 17px;
    cursor: pointer;
  }

  ._countSettings {
    right: 17px;
    bottom: 17px;
  }
  
  ._minusIcon {
    width: 18px;
    height: 2px;
    mask-image: url(./src/minus.svg);
  }
  
  ._countSetting {
    width: 48px;
    font-size: 18px;
    line-height: 20px;
  }
  
  ._plusIcon {
    mask-size: contain;
    mask-position: center center;
    width: 20px;
    height: 20px;
  }
}
