@font-face {
  font-family: Lora;
  font-style: normal;
  font-weight: 400;
  src: url("./Lora-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  src: url("./Lora-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("./Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  src: url("./Lato-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  src: url("./Lato-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url("./Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("./ProximaNova-Regular.woff2") format("woff2");
}
