@import "./../../variables.scss";

@media screen and (min-width: 1300px) {
  .main {
    padding-top: 233px;
    width: 100%;
    // min-height: 100vh;
    // background: wheat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .main {
    padding-top: 50px;
    width: 100%;
    // min-height: 100vh;
    // background: wheat;
  }
}


@media screen and (max-width: 767px) {
  .main {
    padding-top: 32px;
    width: 100%;
    // min-height: 100vh;
    // background: wheat;
  }
}
