@import "./../../variables.scss";

._title {
  @extend %h2;
}

._itemTitle {
  @extend %h2;
}

@media screen and (min-width: 1300px) {
  .essence {
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: clip;
  }

  ._bg1 {
    width: 88.11px;
    height: 83.56px;
    position: absolute;
    top: 48.87%;
    left: 8.46%;
    background: url(./src/bg1.svg);
  }

  ._bg2 {
    width: 96.65px;
    height: 94.78px;
    position: absolute;
    top: 23.89%;
    right: 6.98%;
    background: url(./src/bg2.svg);
  }

  ._bg {
    position: absolute;
  }

  ._content {
    width: 1285px;
  }

  ._title {
    color: $black;
  }

  ._items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px 25px;
  }

  ._item {
    width: 100%;
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: max-content max-content;
    gap: 25px 50px;
  }

  ._itemImage {
    height: 100%;
    min-height: 220px;
    max-height: 380px;
    width: 100%;
    grid-row: 1/3;
    position: relative;
  }

  ._itemImageBefore {
    position: absolute;
    width: 83.61px;
    height: 124.09px;
    right: -10px;
    top: -6px;
    background: $green;
    padding: 0 8px;

    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 126.728px;
    line-height: 120px;

    color: #ffffff;
  }

  ._itemTitle {
    color: $green;
  }

  ._itemText {
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .essence {
    display: flex;
    justify-content: center;
    position: relative;
  }

  ._content {
    width: 100%;
    padding: 0 63px;
  }

  ._title {
    color: $black;
  }

  ._items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 37px 0;
  }

  ._item {
    min-height: 486px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    gap: 11px 24px;
  }

  ._item_odd {
    grid-template-columns: 1fr 1fr;
  }

  ._itemImage {
    height: 100%;
    width: 100%;
    grid-row: 1/3;
    position: relative;
  }

  ._itemImage_odd {
    grid-column: 2;
  }

  ._itemImageBefore {
    position: absolute;
    width: 83.61px;
    height: 124.09px;
    left: -12px;
    top: -12px;
    background: $green;
    padding: 0 8px;

    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 126.728px;
    line-height: 120px;

    color: #ffffff;
  }

  ._itemTitle {
    color: $green;
  }

  ._itemText {
  }
}

@media screen and (max-width: 767px) {
  .essence {
    display: flex;
    justify-content: center;
    position: relative;
  }

  ._content {
    width: 100%;
    padding: 0 44px;
  }

  ._title {
    font-size: 24px;
    line-height: 31px;
    color: $black;
  }

  ._items {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0;
  }

  ._item {
    min-height: 319px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 40px 1fr;
    // gap: 11px 24px;
  }

  // ._item_odd {
  //   grid-template-columns: 1fr 304px;
  // }

  ._itemImage {
    // height: 385.46px;
    height: 100%;
    width: 100%;
    // grid-row: 1/3;
    position: relative;
  }

  ._itemImage_odd {
    grid-column: 2;
  }

  ._itemImageBefore {
    position: absolute;
    width: 42px;
    height: 63px;
    left: -5px;
    top: -5px;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 64.1096px;
    line-height: 82px;

    color: #ffffff;
  }

  ._itemTitle {
    padding-top: 14px;
    font-size: 20.628px;
    line-height: 26px;
    color: $green;
  }

  ._itemText {
    padding-top: 6px;
    font-size: 14px;
    line-height: 17px;
  }
}
