@import "./../../variables.scss";

@media screen and (min-width: 1300px) {
  .main {
    padding-top: 233px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .main {
    // padding-top: 233px;
    width: 100%;
  }
}
