@import "./../../variables.scss";

._description {
  @extend %h7;
}
._title {
  @extend %h4;
}
._description {
  @extend %h7;
}
._option {
  @extend %h6;
}

@media screen and (min-width: 1300px) {
  ._variant {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 275px 31px 31px 1fr 64.5px;
    width: 375px;
    height: 870px;
    box-shadow: 0 0 0 4px $green;
    border-radius: 18.2152px;
    padding: 34px 34px 42px 34px;
  }

  ._variant_popular {
    width: 413px;
    grid-template-rows: 304px 48px 29px 1fr 68px;
    background: $green;
    height: 924px;
    padding: 40px 37px 37px 43px;
    position: relative;
    ._popularLabel {
      position: absolute;
      right: -10px;
      top: -8px;
      border-radius: 0 20px 0 20px;
      height: 56px;
      width: 266px;
      background: $darkRed;

      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    }

    ._image {
      height: 100%;
    }

    ._title {
      padding-top: 10px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      color: #ffffff;
    }

    ._description {
      padding-top: 12px;
      color: #ffffff;
    }

    ._options {
      padding-top: 31px;
    }

    ._option {
      padding-left: 33px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      &::before {
        background: #ffffff;
      }
    }

    ._footer {
      display: grid;
      grid-template-columns: 1fr 45px 64px 45px;
      row-gap: 6.5px;
    }

    ._footerTitle {
      color: #ffffff;
    }

    ._price {
      color: #ffffff;
    }

    ._minusIcon {
      padding-left: 19px;
      grid-row: 2;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    ._count {
      color: #ffffff;
    }

    ._plusIcon {
      align-self: center;
      padding-left: 19px;
      grid-row: 2;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ._image {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 4px #ffffff;
    border-radius: 18.2152px;
  }

  ._title {
    padding-top: 14px;
    color: $green;
  }

  ._description {
    padding-top: 15px;
    color: $green;
  }

  ._options {
    padding-top: 38px;
  }

  ._option {
    padding-left: 33px;
    color: $green;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  ._optionAfter {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  ._footer {
    display: grid;
    grid-template-columns: 1fr 45px 64px 45px;
    row-gap: 6.5px;
  }

  ._footerTitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: $green;
  }

  ._price {
    grid-row: 2;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: $green;
  }

  ._minusIconWrapper {
    padding-left: 19px;
    grid-row: 2;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ._minusIcon {
    width: 26px;
    height: 3px;
    mask-image: url(./src/minus.svg);
  }

  ._count {
    background: unset;
    text-align: center;
    align-self: center;
    padding-left: 15px;
    grid-row: 2;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: $green;
  }

  ._plusIconWrapper {
    padding-left: 19px;
    grid-row: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  ._plusIcon {
    mask-image: url(./src/plus.svg);
    width: 26px;
    height: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  ._variant {
    width: 658px;
    min-height: 832px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 540px 70px 55px 1fr 182px;
    box-shadow: 0 0 0 4px $green;
    border-radius: 18.2152px;
    padding: 91px 34px 42px 34px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  ._variant:not(._variant_expanded) {
    min-height: unset;
    grid-template-rows: unset;
    padding: 40px 34px 42px 34px;

    ._image {
      display: none;
    }

    ._title {
    }

    ._description {
    }

    ._options {
      display: none;
    }

    ._footer {
      display: none;
    }
  }

  ._variant_expanded {
    ._expandButton {
      width: 39px;
      height: 22px;
      position: absolute;
      background: url(./src/arrow_expanded.svg) 100% 100% no-repeat;
      top: 55px;
      right: 41px;
    }
  }

  ._variant_popular {
    background: $green;
    position: relative;
    &._variant_expanded {
      ._expandButton {
        width: 39px;
        height: 22px;
        position: absolute;
        background: url(./src/arrow_expanded_popular.svg) 100% 100% no-repeat;
        top: 55px;
        right: 41px;
      }
    }
    ._popularLabel {
      position: absolute;
      right: -10px;
      top: -8px;
      border-radius: 0 20px 0 20px;
      height: 56px;
      width: 266px;
      background: $darkRed;

      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    }

    ._expandButton {
      background: url(./src/arrow_popular.svg) 100% 100% no-repeat;
    }

    ._title {
      color: #ffffff;
    }

    ._description {
      color: #ffffff;
    }

    ._option {
      color: #ffffff;
      &::before {
        background: #ffffff;
      }
    }

    ._footerTitle {
      color: #ffffff;
    }

    ._price {
      color: #ffffff;
    }

    ._count {
      color: #ffffff;
    }

    ._plusIcon {
      background: url(./src/plus_popular.svg) 100% 100% / cover no-repeat;
    }
  }

  ._expandButton {
    width: 28px;
    height: 16px;
    position: absolute;
    mask-image: url(./src/arrow.svg);
    mask-size: contain;
    top: 50%;
    transform: translate(0, -50%);
    right: 41px;
  }

  ._image {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 4px #ffffff;
    border-radius: 18.2152px;
  }

  ._title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 95%;
    padding-top: 35px;
    color: $green;
  }

  ._description {
    padding-top: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $green;
  }

  ._options {
    padding-top: 38px;
  }

  ._option {
    padding-left: 33px;
    color: $green;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  ._optionAfter {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  ._footer {
    display: grid;
    grid-template-columns: 1fr 50px;
    row-gap: 6.5px;
  }

  ._footerTitle {
    margin-top: 70px;
    font-size: 32px;
    line-height: 38px;

    color: $green;
  }

  ._price {
    margin-top: 11px;

    grid-row: 2;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;

    color: $green;
  }

  ._count {
    align-self: center;
    padding-left: 15px;
    grid-row: 2;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;

    color: $green;
  }
  
  ._plusIcon {
    align-self: center;
    grid-row: 2;
    mask-image: url(./src/plus_tab.svg);
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  ._variant {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32vh 33px 26px 1fr 85px;
    box-shadow: inset 0 0 0 3px $green;
    border-radius: 15px;
    padding: 43px 32px 32px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  ._variant:not(._variant_expanded) {
    min-height: unset;
    grid-template-rows: unset;
    padding: 27px 26px 30px 32px;

    ._image {
      display: none;
    }

    ._title {
      padding-top: unset;
    }

    ._description {
      padding-top: 11px;
    }

    ._options {
      display: none;
    }

    ._footer {
      display: none;
    }
  }

  ._variant_expanded {
    ._expandButton {
      width: 18px;
      height: 10px;
      position: absolute;
      background: url(./src/arrow_expanded.svg) 100% 100% / contain no-repeat;
      top: 26px;
      right: 20px;
    }
  }

  ._variant_popular {
    background: $green;
    position: relative;
    &._variant_expanded {
      ._expandButton {
        background: url(./src/arrow_expanded_popular.svg) 100% 100% / contain
          no-repeat;
      }
    }
    ._popularLabel {
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 0 15px 0 15px;
      height: 26px;
      width: 125px;
      background: $darkRed;

      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 11.2626px;
      line-height: 14px;

      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    }

    ._expandButton {
      background: url(./src/arrow_popular.svg) 100% 100% / contain no-repeat;
    }

    ._title {
      color: #ffffff;
    }

    ._description {
      color: #ffffff;
    }

    ._option {
      color: #ffffff;
      &::before {
        background: #ffffff;
      }
    }

    ._footerTitle {
      color: #ffffff;
    }

    ._price {
      color: #ffffff;
    }

    ._count {
      color: #ffffff;
    }

    ._plusIcon {
      background: url(./src/plus_popular.svg) 100% 100% / cover no-repeat;
    }
  }

  ._expandButton {
    width: 18px;
    height: 10px;
    position: absolute;
    mask-image: url(./src/arrow.svg);
    mask-size: contain;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
  }

  ._image {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 4px #ffffff;
    border-radius: 15px;
  }

  ._title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 95%;
    padding-top: 16px;
    color: $green;
  }

  ._description {
    padding-top: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $green;
  }

  ._options {
    padding-top: 22px;
  }

  ._option {
    padding-left: 27px;
    color: $green;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  ._optionAfter {
    position: absolute;
    width: 16px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  ._footer {
    display: grid;
    grid-template-columns: 1fr 50px;
    row-gap: 6.5px;
  }

  ._footerTitle {
    margin-top: 24px;
    font-size: 16px;
    line-height: 19px;

    color: $green;
  }

  ._price {
    margin-top: 5px;

    grid-row: 2;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    color: $green;
  }

  ._plusIcon {
    align-self: center;
    grid-row: 2;
    mask-image: url(./src/plus_tab.svg);
    mask-position: center center;
    mask-size: contain;
    width: 36px;
    height: 36px;
  }
}
