@import "./../../variables.scss";

._itemTitle {
  @extend %h3;
}

._itemDescription {
  @extend %h3;
}

@media screen and (min-width: 1300px) {
  .promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  ._bg {
    position: absolute;
    width: 761px;
    height: 459px;
    background: url(./src/bg.png) 100% 100% no-repeat;
    top: 0;
    left: -8.125%;
  }

  ._content {
    position: relative;
    margin-top: 245px;
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.15);
    background: #f1f1f1;
  }

  ._item {
    height: 220px;
    width: 420px;
    border-radius: 20px;
    background: $darkRed;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    padding: 56px 0 0 45px;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  ._itemTitle {
    color: #ffffff;
  }

  ._itemDescription {
    margin-top: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }

  ._itemIcon {
    position: absolute;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  ._content {
    position: relative;
    margin-top: 76px;
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.15);
    background: #f1f1f1;
  }

  ._item {
    width: 286px;
    border-radius: 20px;
    background: $darkRed;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    padding: 38px 0 38px 30px;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  ._itemTitle {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
  }

  ._itemDescription {
    height: 40px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }

  ._itemIcon {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  ._content {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding: 32px 0 33px 44px;
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.15);
    background: #f1f1f1;
  }

  ._item {
    height: 124px;
    width: 234px;
    border-radius: 20px;
    background: $darkRed;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    padding: 31px 24px;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  ._itemTitle {
    color: #ffffff;
    font-size: 17px;
    line-height: 21px;
  }

  ._itemDescription {
    height: 40px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }

  ._itemIcon {
    position: absolute;
  }
}
