@import "./variables.scss";

.app {
  // height: 400vh;
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: darkorange;
  position: relative;
  @extend %body;
}

.main {
  width: 100%;
}
