@import "./../../variables.scss";

@media screen and (min-width: 1300px) {
  .backToAll {
    padding: 75px 0 72px 13.23%;
    margin: auto;
  }

  ._link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 20px;
      left: -20px;
      background: url(./src/arrow.svg) 100% 100% no-repeat;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .backToAll {
    padding: 0 63px;
    margin: 87px 0 101px 0;
  }
  
  ._link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 20px;
      left: -20px;
      background: url(./src/arrow.svg) 100% 100% no-repeat;
    }
  }
}
